* {
  box-sizing: border-box;
}
body {
  background-color:#2D3031
}
body {
  font-family: 'rubik', sans-serif;
  font-size: 18px; /* Sets the font size to 20px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff
}
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 400;
}

h2 {
  font-size: 2.25em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}
h4 {
  font-size: 1.35em;
  font-weight: 300;
}
img {
  width: 100%;
}
a {
  color: #03DAC6;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #03DAC6
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #A979E1
}
a:active { /* selected link */
  color: #039BCB;
}
a:hover,
a:focus {
  color: #03DAC6;
  text-decoration: underline;
}
a.button {
  display: inline-block;
  background-color: #03DAC6;
  color: #1C1B1D; /* needed to override the default link color */
  font-weight: 400;
  padding: 16px;
  border-radius: 10px;
  transition: .7s;
}
.button:hover {
  background-color: #03DAA6;
  box-shadow: 0px 0px 8px #03DAC6;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  margin-left: 8px;
  color: #03DAC6;
  text-transform: uppercase;
  border: 2px solid #03DAC6;
}
.button.contact:hover {
  background-color: #03DAA6;;
  color: #1C1B1D;
/* Layout styling */

}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */

}
footer img{
  width: 40px;
  height: auto;

}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #D8D8D8; }

#hero {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
}
header {
  position: fixed;
  width: 100%;
  background-color: #1B1D1E;
  text-align:center;
  padding: 10px 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #03DAC6;
}
nav > ul > li > a:visited{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #A979E1;
}
#hero {
  background-color: #1B1D1E;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 99px;
}
footer {
  text-align: center;
}
.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 50px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
header {
  text-align: unset;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  header > img {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}
#hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#about-page h3 {
margin-top: 0;
}
#about-page h4 {
line-height: .1;
}
#resume_button{
text-align: center;
padding-bottom: 20px;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#illustration {
  display: block;
  padding: auto;
  width: 65%;
  padding-top: 50px;
  padding-bottom:20px;
}
@keyframes color-change {
  0% {fill: #E5E13C;}
  100% {fill: #6D6B2C;}
  }
}
.l {
  animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.l {
  animation: 2s color-change infinite alternate linear;
}
@keyframes steam-move {
  from {transform: translate(0,0px);}
  to {transform: translate(0px,-70px);}
}
.p-1 {
  animation-duration: 1.5s;
  animation-name: steam-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes steam-move {
  from {transform: translate(0,0px);}
  to {transform: translate(0px,-20px);}
}
.p-2 {
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-name: steam-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
