* {
  box-sizing: border-box;
}
body {
  background-color:#2D3031
}
body {
  font-family: 'rubik', sans-serif;
  font-size: 16px; /* Sets the font size to 18px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff
}
body{
  min-height: 100vh;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 400;
}

h2 {
  font-size: 2.25em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
  margin-top: -8px;
}
h4 {
  font-size: 1.35em;
  font-weight: 300;
}
img {
  width: 100%;
}
a {
  color: #03DAC6;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #03DAC6
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #A979E1
}
a:active { /* selected link */
  color: #039BCB;
}
a:hover,
a:focus {
  color: #03DAC6;
  text-decoration: underline;
}
a.button {
  display: inline-block;
  background-color: #03DAC6;
  color: #1C1B1D; /* needed to override the default link color */
  font-weight: 400;
  padding: 16px;
  border-radius: 10px;
  transition: .5s;
}
.button:hover {
  background-color: #03DAC6;
  box-shadow: 0px 0px 12px #03DAC6;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  margin-left: 8px;
  color: #03DAC6;
  text-transform: uppercase;
  border: 2px solid #03DAC6;
}
.button.contact:hover {
  background-color: #03DAC6;;
  color: #1C1B1D;
/* Layout styling */

}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */

}
footer img{
  width: 40px;
  height: auto;
  margin: 10px;

}
#work .row
  { padding-bottom: 25px; border-bottom: 1px solid #D8D8D8;
}
#bottom-work .row { padding-bottom: 20px;
}

#hero {
  text-align: left; /* Centers text */
}
.logo {
  max-width: 200px;
  margin-top: 18px;
}
header {
  position: fixed;
  width: 100%;
  background-color: #1B1D1E;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  padding: 10px 0 4px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #03DAC6;
}
nav > ul > li > a:visited{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #03DAC6;
}
#hero {
  background-color: #1B1D1E;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
    padding-top: 73.83px;
}
footer {
  text-align: left;
  background-color: #1B1D1E;
  padding: 10px 0;
}
.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 50px;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 20px;
  padding-right: 0;
}
nav {
  display: inline-block;
  width: 100%;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #D8D8D8;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  header > img {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .logo {
    margin-top: 30px;
    padding-bottom: 20px;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  #contact{
    text-align: left;
    background-color: #1B1D1E;
    padding: 10px 0;
  }
  .logo {
    max-width: 275px;
    margin-left: 15px;
    margin-top: 25px;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
nav > ul {
  margin: 1em 0;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 66.66%;
  }
  .col-lg-5 {
    width: 33.33%;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
header {
  text-align: unset;
}

#hero span {
  display: block;
}

#about-page h3 {
margin-top: 0;
}
#about-page h4 {
line-height: .1;
}
#resume_button{
text-align: center;
padding-bottom: 15px;
padding-bottom: 30px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#illustration {
  display: block;
  width: 65%;
  padding-top: 50px;
  padding-bottom:20px;
}
@keyframes color-change {
  0% {fill: #E5E13C;}
  100% {fill: #6D6B2C;}
  }
.n {
  animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes steam-move {
  from {transform: translate(0,0px);}
  to {transform: translate(0px,-70px);}
}
.p-1 {
  animation-duration: 1.5s;
  animation-name: steam-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes steam-move {
  from {transform: translate(0,0px);}
  to {transform: translate(0px,-20px);}
}
.p-2 {
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-name: steam-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes eyelid-move {
0% {transform: translate(0px,0px);}
10% {transform: translate(0px,-20px);}
20% {transform: translate(0px,0px);}
100% {transform: translate(0px,0px);}
}
.u-1 {
  animation-duration: 4.5s;
  animation-name: eyelid-move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes light-glow {
  0% {filter: drop-shadow(0 0 25px #E5E13C);}
  100% {filter: drop-shadow(0 0 0px #E5E13C);}
  }
.i {
  animation-duration: 2s;
  animation-name: light-glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
