body {
  background-color:#2D3031
}
body {
  font-family: 'rubik', sans-serif;
  font-size: 20px; /* Sets the font size to 20px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff
}
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}
h4 {
  font-size: 1.35em;
  font-weight: 300;
}
img {
  width: 100%;
}
a {
  color: #03DAC6;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #03DAC6
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #A979E1
}
a:active { /* selected link */
  color: #039BCB;
}
a:hover,
a:focus {
  color: #03DAC6;
  text-decoration: underline;
}
a.button {
  display: inline-block;
  background-color: #03DAC6;
  color: #1C1B1D; /* needed to override the default link color */
  font-weight: 400;
  padding: 16px;
  border-radius: 10px;
  transition: 0.2s opacity;
}
.button:hover {
  background-color: #03DAA6;
  box-shadow: 0px 0px 8px #03DAC6;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  margin-left: 8px;
  color: #03DAC6;
  text-transform: uppercase;
  border: 2px solid #03DAC6;
}
.button.contact:hover {
  background-color: #03DAA6;;
  color: #1C1B1D;
/* Layout styling */

}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#linkedin_logo{
  width: 40px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#behance_logo{
  width: 40px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #D8D8D8; }

#hero {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 300px;
}
header {
  position: fixed;
  width: 100%;
  background-color: #1B1D1E;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #03DAC6;
}
nav > ul > li > a:visited{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100;
  color: #A979E1;
}
#hero {
  background-color: #1B1D1E;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 124px;
}
footer {
  text-align: center;
}
.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 50px;
}
